<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="btn btn-primary btn btn-dark" href="/" role="button">Kid's recyle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-warning" href="/">Home</button>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/sell">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/sell">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/swap">Swap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listings/free">Free</a>
        </li> 
      </ul>
      
    </div>
  </div>
</nav>