<nav class="navbar navbar-expand-sm bg-light">
  
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                  Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listings/sell">
                  Sell
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listings/buy">
                  Buy
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listings/swap">
                  Swap
                </a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="/listings/free">
                  Free
                </a>
            </li>            
        </ul>
    </nav>