 <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex search-bar" >
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>