<form action="" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
        <div class="input-group">
            <input name="searchtext" value="" class="form-control" type="search">
            <span class="input-group-btn">
            </span>
        </div>
    </form>