<div class="justify-content-center">
<h1>Save the earth</h1>
<p>Recycle your childrens loved items and make the world a better place to live.</p>
</div>
<div>
<h3>About us:</h3>
<p>As parents we have been presented with the opporunity to share the items our children love with the world. Reducing waste and putting these wonderful items to use. Let’s help save the planet by sharing and passing on good in the world!</p>
</div>